@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.eot");
  src: url("../fonts/NexaLight.woff2") format("woff2"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype"), url("../fonts/NexaLight.svg#NexaLight") format("svg"), url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg#NexaBold") format("svg"), url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 113, ../sass/includes/_mixins.scss */
div.container, section.container {
  width: 86%;
  margin: 25px auto;
}

/* line 117, ../sass/includes/_mixins.scss */
section.wide {
  width: 100vw !important;
  margin: 25px 0;
}

/* line 121, ../sass/includes/_mixins.scss */
.center {
  text-align: center;
}

/* line 124, ../sass/includes/_mixins.scss */
.v-container {
  display: table;
}

/* line 127, ../sass/includes/_mixins.scss */
.v-container .vac {
  display: table-cell;
  vertical-align: middle;
}

/* line 132, ../sass/includes/_mixins.scss */
li {
  list-style: none;
}

/* line 134, ../sass/includes/_mixins.scss */
ul.inline li {
  display: inline-block;
}

/* line 3, ../sass/screesn.scss */
.row {
  max-width: 86%;
}

/* line 6, ../sass/screesn.scss */
body {
  overflow-x: hidden;
}
/* line 9, ../sass/screesn.scss */
body .page-wrap {
  overflow: hidden;
}

/* line 13, ../sass/screesn.scss */
.page-loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 999;
}
/* line 20, ../sass/screesn.scss */
.page-loader .img-wrap {
  position: relative;
  height: 100vh;
  width: 100vw;
}
/* line 25, ../sass/screesn.scss */
.page-loader .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 33, ../sass/screesn.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 41, ../sass/screesn.scss */
.pace-inactive {
  display: none;
}

/* line 45, ../sass/screesn.scss */
.pace .pace-progress {
  background: #0091ea;
  position: fixed;
  z-index: 2000;
  top: 53vh;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* line 55, ../sass/screesn.scss */
#login-modal {
  padding: 3rem 1rem 1rem;
}
/* line 62, ../sass/screesn.scss */
#login-modal .regester-form h4 {
  font-size: 24px;
  text-transform: capitalize;
}
/* line 67, ../sass/screesn.scss */
#login-modal .regester-form ul {
  margin-left: 0;
}
/* line 69, ../sass/screesn.scss */
#login-modal .regester-form ul li {
  margin-left: 0;
  margin-bottom: 15px;
}
/* line 74, ../sass/screesn.scss */
#login-modal .regester-form .login-form {
  position: relative;
}
/* line 77, ../sass/screesn.scss */
#login-modal .regester-form .login-form .seperator {
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  border-right: 1px solid #ccc;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  /* line 77, ../sass/screesn.scss */
  #login-modal .regester-form .login-form .seperator {
    display: none;
  }
}
/* line 89, ../sass/screesn.scss */
#login-modal .regester-form .login-form .seperator .wrap {
  position: relative;
}
/* line 92, ../sass/screesn.scss */
#login-modal .regester-form .login-form .seperator .wrap .or {
  position: absolute;
  top: 100px;
  left: -13px;
  background: #ccc;
  padding: 7px;
  font-size: 10px;
  color: white;
  border-radius: 8px;
}
/* line 107, ../sass/screesn.scss */
#login-modal .regester-form form {
  width: 90%;
}
/* line 110, ../sass/screesn.scss */
#login-modal .regester-form form .columns {
  padding: 0;
}
/* line 114, ../sass/screesn.scss */
#login-modal .regester-form form [type='file'], #login-modal .regester-form form [type='checkbox'], #login-modal .regester-form form [type='radio'] {
  margin: 0;
}
/* line 117, ../sass/screesn.scss */
#login-modal .regester-form form input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(0.9);
  /* IE */
  -moz-transform: scale(0.9);
  /* FF */
  -webkit-transform: scale(0.9);
  /* Safari and Chrome */
  -o-transform: scale(0.9);
  /* Opera */
  padding: 0;
}
/* line 126, ../sass/screesn.scss */
#login-modal .regester-form form p {
  margin-bottom: 0;
  color: #0091ea;
  font-size: 12px;
}
/* line 131, ../sass/screesn.scss */
#login-modal .regester-form form button.button {
  background: #0091ea;
}
/* line 135, ../sass/screesn.scss */
#login-modal .regester-form form .remember label {
  font-size: 12px;
  color: #0091ea;
}
/* line 140, ../sass/screesn.scss */
#login-modal .regester-form form .forgot {
  text-align: right;
}
/* line 142, ../sass/screesn.scss */
#login-modal .regester-form form .forgot a {
  color: #0091ea;
  font-size: 12px;
}
/* line 146, ../sass/screesn.scss */
#login-modal .regester-form form .forgot a:hover {
  color: #002d86;
}

/* line 156, ../sass/screesn.scss */
.search-bar {
  position: absolute;
  width: 100vw;
  z-index: 9;
  transform: translateY(-75px);
  -webkit-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}
/* line 163, ../sass/screesn.scss */
.search-bar .wrap {
  position: relative;
}
/* line 167, ../sass/screesn.scss */
.search-bar input {
  height: 75px;
  text-indent: 3em;
  font-size: 30px;
  color: #575757;
}
/* line 174, ../sass/screesn.scss */
.search-bar .close-btn {
  position: absolute;
  right: 7em;
  top: 30px;
}
/* line 179, ../sass/screesn.scss */
.search-bar .close-btn i {
  color: #575757;
}
/* line 184, ../sass/screesn.scss */
.search-bar .close-btn:hover i {
  color: #FF2626;
  cursor: pointer;
}

/* line 193, ../sass/screesn.scss */
.search-bar.show-it {
  transform: translateY(0px);
  z-index: 9;
  -webkit-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

/* line 198, ../sass/screesn.scss */
header.page-header {
  padding-top: 18px;
  height: 75px;
  box-shadow: 1px 1px 1px #ddd;
  -webkit-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}
/* line 206, ../sass/screesn.scss */
header.page-header:hover {
  box-shadow: 0 0 0 transparent;
}
/* line 210, ../sass/screesn.scss */
header.page-header .row {
  position: relative;
}
/* line 215, ../sass/screesn.scss */
header.page-header .columns {
  padding: 0;
}
/* line 218, ../sass/screesn.scss */
header.page-header .logo {
  margin-top: 8px;
}
/* line 220, ../sass/screesn.scss */
header.page-header .logo img {
  width: 80%;
}
/* line 225, ../sass/screesn.scss */
header.page-header .nav-toggle {
  text-align: right;
  display: none;
}
@media screen and (max-width: 1024px) {
  /* line 225, ../sass/screesn.scss */
  header.page-header .nav-toggle {
    display: block;
  }
}
/* line 234, ../sass/screesn.scss */
header.page-header .main-nav {
  float: right;
  margin: 25px 0 0 0;
}
/* line 237, ../sass/screesn.scss */
header.page-header .main-nav li {
  display: inline-block;
}
/* line 240, ../sass/screesn.scss */
header.page-header .main-nav li a {
  padding: 12px;
  text-transform: capitalize;
  color: #0091ea;
  font-size: 15px;
}
/* line 246, ../sass/screesn.scss */
header.page-header .main-nav li a:hover {
  background: #0091ea;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  /* line 234, ../sass/screesn.scss */
  header.page-header .main-nav {
    background: #fff;
    width: 60vw;
    height: 100vh;
    padding-left: 20px;
    margin-right: -7vw;
    transform: translateX(70vw);
    -webkit-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
  }
  /* line 262, ../sass/screesn.scss */
  header.page-header .main-nav li {
    display: block;
    margin-bottom: 10px;
  }
}
/* line 268, ../sass/screesn.scss */
header.page-header .main-nav .responsive-lists {
  display: none;
}
@media screen and (max-width: 1024px) {
  /* line 268, ../sass/screesn.scss */
  header.page-header .main-nav .responsive-lists {
    display: block;
  }
}
/* line 277, ../sass/screesn.scss */
header.page-header .main-nav.show-it {
  transform: translateX(0);
}
/* line 281, ../sass/screesn.scss */
header.page-header .top-header {
  position: absolute;
  right: 12px;
  top: -15px;
}
/* line 285, ../sass/screesn.scss */
header.page-header .top-header li {
  display: inline-block;
  margin-left: 10px;
}
/* line 288, ../sass/screesn.scss */
header.page-header .top-header li a {
  font-size: 11px;
  color: #9d9d9d;
  text-transform: capitalize;
  text-decoration: underline;
}
/* line 294, ../sass/screesn.scss */
header.page-header .top-header li a:hover {
  color: #575757;
}
/* line 298, ../sass/screesn.scss */
header.page-header .top-header li a.search-btn {
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  /* line 281, ../sass/screesn.scss */
  header.page-header .top-header {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  /* line 198, ../sass/screesn.scss */
  header.page-header {
    height: 50px;
    padding-top: 8px;
  }
  /* line 314, ../sass/screesn.scss */
  header.page-header .logo {
    margin-top: 8px;
  }
  /* line 318, ../sass/screesn.scss */
  header.page-header .nav-toggle {
    margin-top: 8px;
  }
}

/* line 325, ../sass/screesn.scss */
section.banner-wrap {
  height: 70vh;
  position: relative;
  background: transparent url("../images/banner.png") no-repeat;
  z-index: -1;
}
/* line 331, ../sass/screesn.scss */
section.banner-wrap .banner {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 60%;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  /* line 331, ../sass/screesn.scss */
  section.banner-wrap .banner {
    height: 300px;
  }
}
@media screen and (max-width: 640px) {
  /* line 331, ../sass/screesn.scss */
  section.banner-wrap .banner {
    height: 270px;
    overflow: hidden;
  }
}
/* line 352, ../sass/screesn.scss */
section.banner-wrap .banner h3 {
  color: #0091ea;
  font-family: "NexaBold", sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  /* line 352, ../sass/screesn.scss */
  section.banner-wrap .banner h3 {
    font-size: 20px;
  }
}
/* line 364, ../sass/screesn.scss */
section.banner-wrap .banner .content-item img {
  width: 70px;
  margin-bottom: 10px;
}
/* line 368, ../sass/screesn.scss */
section.banner-wrap .banner .content-item h4 {
  font-size: 16px;
  color: #0091ea;
  font-family: "NexaBold", sans-serif;
}
/* line 374, ../sass/screesn.scss */
section.banner-wrap .banner .content-item p {
  font-size: 14px;
  color: #0091ea;
  font-family: "NexaBold", sans-serif;
  padding: 0 15px;
  overflow: hidden;
  text-align: center;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 80px;
  /* fallback */
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* line 393, ../sass/screesn.scss */
section.search-box {
  position: relative;
}
/* line 397, ../sass/screesn.scss */
section.search-box .wrap {
  position: absolute;
  top: -32px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  /* line 397, ../sass/screesn.scss */
  section.search-box .wrap {
    top: -32px;
  }
}
/* line 406, ../sass/screesn.scss */
section.search-box .wrap ul.tabs {
  background: transparent;
  border: none;
}
/* line 410, ../sass/screesn.scss */
section.search-box .wrap ul.tabs li {
  background: rgba(255, 255, 255, 0.75);
  margin-right: 10px;
}
/* line 413, ../sass/screesn.scss */
section.search-box .wrap ul.tabs li a {
  color: #000;
  font-family: "NexaBold", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}
/* line 420, ../sass/screesn.scss */
section.search-box .wrap ul.tabs .tabs-title > a:focus, section.search-box .wrap ul.tabs .tabs-title > a[aria-selected='true'] {
  background: white;
}
/* line 423, ../sass/screesn.scss */
section.search-box .wrap ul.tabs .tabs-title > a {
  padding: 0.7em 1.2em;
}
/* line 428, ../sass/screesn.scss */
section.search-box .wrap .tabs-content {
  border: none;
  padding-top: 30px;
}
/* line 435, ../sass/screesn.scss */
section.search-box .wrap .tabs-content form.search-form .column {
  padding-right: 50px;
  height: 35px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  /* line 435, ../sass/screesn.scss */
  section.search-box .wrap .tabs-content form.search-form .column {
    padding-right: 15px;
  }
}
@media screen and (max-width: 640px) {
  /* line 435, ../sass/screesn.scss */
  section.search-box .wrap .tabs-content form.search-form .column {
    padding-right: 0.625rem;
  }
}
/* line 448, ../sass/screesn.scss */
section.search-box .wrap .tabs-content form.search-form .column input, section.search-box .wrap .tabs-content form.search-form .column select {
  box-shadow: 0 1px 5px #bbb;
  border: 1px solid #eee;
}
/* line 454, ../sass/screesn.scss */
section.search-box .wrap .tabs-content form.search-form .column .button {
  box-shadow: 1px 2px 3px #ccc;
  background: #0091ea;
}
/* line 459, ../sass/screesn.scss */
section.search-box .wrap .tabs-content form.search-form .column ::-webkit-input-placeholder {
  color: #777;
}
/* line 462, ../sass/screesn.scss */
section.search-box .wrap .tabs-content form.search-form .column ::-moz-placeholder {
  color: #777;
}
/* line 465, ../sass/screesn.scss */
section.search-box .wrap .tabs-content form.search-form .column :-ms-input-placeholder {
  color: #777;
}
/* line 468, ../sass/screesn.scss */
section.search-box .wrap .tabs-content form.search-form .column :-moz-placeholder {
  color: #777;
}
@media screen and (max-width: 640px) {
  /* line 393, ../sass/screesn.scss */
  section.search-box {
    max-width: 100vw;
    width: 100vw;
    margin: 0;
  }
  /* line 481, ../sass/screesn.scss */
  section.search-box .wrap ul.tabs li {
    margin-right: 0;
    width: 25vw;
  }
  /* line 485, ../sass/screesn.scss */
  section.search-box .wrap ul.tabs li a {
    padding: 0.7em 1em !important;
  }
}

/* line 493, ../sass/screesn.scss */
.owl-carousel {
  margin: 0;
}

/* line 497, ../sass/screesn.scss */
section .section-wrap {
  position: relative;
}
/* line 501, ../sass/screesn.scss */
section .section-wrap .section-head {
  height: 75px;
  padding: 50px 0 70px;
}
/* line 504, ../sass/screesn.scss */
section .section-wrap .section-head h3 {
  color: #0091ea;
  font-family: "NexaBold", sans-serif;
  font-size: 22px;
  margin: 0;
  width: 75%;
  float: left;
}
@media screen and (max-width: 640px) {
  /* line 504, ../sass/screesn.scss */
  section .section-wrap .section-head h3 {
    font-size: 18px;
  }
}
/* line 517, ../sass/screesn.scss */
section .section-wrap .section-head ul.slider-nav {
  float: right;
}
/* line 520, ../sass/screesn.scss */
section .section-wrap .section-head ul.slider-nav .slick-list {
  padding: 0 !important;
}
/* line 523, ../sass/screesn.scss */
section .section-wrap .section-head ul.slider-nav .slick-list .slick-track {
  width: 40px !important;
}
/* line 528, ../sass/screesn.scss */
section .section-wrap .section-head ul.slider-nav li {
  display: inline-block;
  border-radius: 2px;
  height: 20px !important;
  width: 20px !important;
  text-align: center;
  position: relative;
}
/* line 537, ../sass/screesn.scss */
section .section-wrap .section-head ul.slider-nav li i {
  font-size: 12px;
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: bold;
}
/* line 551, ../sass/screesn.scss */
section .section-wrap .section-content {
  margin-left: -1em !important;
}
/* line 555, ../sass/screesn.scss */
section .section-wrap .section-content .wrap img {
  border-bottom: 1px solid black;
  min-width: 100%;
}
/* line 560, ../sass/screesn.scss */
section .section-wrap .section-content .wrap .desc {
  padding: 0 10px 65px;
}
/* line 563, ../sass/screesn.scss */
section .section-wrap .section-content .wrap .desc hr {
  margin: 0;
}
/* line 569, ../sass/screesn.scss */
section .section-wrap .section-content .wrap a.button {
  padding: 0.6em 1em 0.4em;
}
/* line 575, ../sass/screesn.scss */
section .section-wrap a.view-more {
  position: absolute;
  bottom: -40px;
  right: 0;
  font-size: 12px;
}

/* line 585, ../sass/screesn.scss */
section.four-col-slider-wrap {
  background: #0091ea;
  padding-bottom: 60px;
}
/* line 591, ../sass/screesn.scss */
section.four-col-slider-wrap .section-head h3 {
  color: #fff;
}
/* line 596, ../sass/screesn.scss */
section.four-col-slider-wrap .section-head ul.slider-nav li {
  background: #fff;
}
/* line 604, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li {
  margin-left: 1em;
}
/* line 606, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .wrap {
  background: #fff;
}
/* line 609, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .wrap .img-wrap {
  height: 13vw;
  overflow: hidden;
}
/* line 612, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .wrap .img-wrap img {
  min-height: 13vw;
}
@media screen and (max-width: 1024px) {
  /* line 609, ../sass/screesn.scss */
  section.four-col-slider-wrap .section-content li .wrap .img-wrap {
    height: 18vw;
  }
  /* line 619, ../sass/screesn.scss */
  section.four-col-slider-wrap .section-content li .wrap .img-wrap img {
    min-height: 18vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 609, ../sass/screesn.scss */
  section.four-col-slider-wrap .section-content li .wrap .img-wrap {
    height: 45vw;
  }
  /* line 628, ../sass/screesn.scss */
  section.four-col-slider-wrap .section-content li .wrap .img-wrap img {
    min-height: 45vw;
  }
}
/* line 636, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .wrap h4 {
  font-size: 18px;
  margin-top: 0.5rem;
  color: #575757;
}
@media screen and (max-width: 640px) {
  /* line 636, ../sass/screesn.scss */
  section.four-col-slider-wrap .section-content li .wrap h4 {
    font-size: 14px;
  }
}
/* line 646, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .wrap a.button {
  background: #0091ea;
  font-family: "NexaBold", sans-serif;
}
/* line 653, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc {
  padding: 0 0.75em 65px;
}
/* line 655, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc .row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 661, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc p, section.four-col-slider-wrap .section-content li .long-desc h4 {
  margin-bottom: 0;
  color: #575757;
}
/* line 665, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc hr {
  margin: 0;
}
/* line 669, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc h4 {
  font-size: 18px;
  text-transform: capitalize;
}
/* line 674, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc p {
  font-size: 12px;
  overflow: hidden;
  line-height: 15px;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 45px;
  /* fallback */
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* line 685, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc p.address {
  max-height: 15px;
  /* fallback */
  -webkit-line-clamp: 1;
  /* number of lines to show */
}
/* line 690, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc .rate p {
  font-weight: bold;
  color: #0091ea;
}
/* line 696, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li .long-desc a.more-info {
  color: #0091ea;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}
/* line 704, ../sass/screesn.scss */
section.four-col-slider-wrap .section-content li a.button {
  margin-top: 20px;
  background: #0091ea;
  font-family: "NexaBold", sans-serif;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 716, ../sass/screesn.scss */
section.four-col-slider-wrap a.view-more {
  color: #fff;
}

/* line 721, ../sass/screesn.scss */
section.three-col-slider-wrap {
  background: #fff;
  padding-bottom: 60px;
}
/* line 727, ../sass/screesn.scss */
section.three-col-slider-wrap .section-head h3 {
  color: #0091ea;
}
/* line 732, ../sass/screesn.scss */
section.three-col-slider-wrap .section-head ul.slider-nav li {
  background: #0091ea;
  color: #fff;
}
/* line 739, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content {
  margin-left: -2em !important;
}
@media screen and (max-width: 1024px) {
  /* line 739, ../sass/screesn.scss */
  section.three-col-slider-wrap .section-content {
    margin-left: -1em !important;
  }
}
/* line 746, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li {
  margin-left: 2em;
}
@media screen and (max-width: 1024px) {
  /* line 746, ../sass/screesn.scss */
  section.three-col-slider-wrap .section-content li {
    margin-left: 1em;
  }
}
/* line 752, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap {
  background: #e8f4ff;
}
/* line 755, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .img-wrap {
  height: 15vw;
  overflow: hidden;
}
/* line 759, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .img-wrap img {
  min-height: 15vw;
}
@media screen and (max-width: 1024px) {
  /* line 755, ../sass/screesn.scss */
  section.three-col-slider-wrap .section-content li .wrap .img-wrap {
    height: 18vw;
  }
  /* line 766, ../sass/screesn.scss */
  section.three-col-slider-wrap .section-content li .wrap .img-wrap img {
    min-height: 18vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 755, ../sass/screesn.scss */
  section.three-col-slider-wrap .section-content li .wrap .img-wrap {
    height: 45vw;
  }
  /* line 774, ../sass/screesn.scss */
  section.three-col-slider-wrap .section-content li .wrap .img-wrap img {
    min-height: 45vw;
  }
}
/* line 780, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc {
  padding: 0 1em 65px;
  position: relative;
}
/* line 784, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc .row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 790, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc p, section.three-col-slider-wrap .section-content li .wrap .long-desc h4 {
  margin-bottom: 0;
  color: #575757;
}
/* line 794, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc hr {
  margin: 0;
}
/* line 797, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc p {
  font-size: 14px;
  overflow: hidden;
  line-height: 18px;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 54px;
  /* fallback */
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* line 807, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc p.address {
  max-height: 18px;
  /* fallback */
  -webkit-line-clamp: 1;
  /* number of lines to show */
}
/* line 811, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc p.mb {
  margin-bottom: 10px;
}
/* line 815, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc .rate p {
  font-weight: bold;
  color: #0091ea;
}
/* line 821, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc h4 {
  font-size: 20px;
  text-transform: capitalize;
}
@media screen and (max-width: 640px) {
  /* line 821, ../sass/screesn.scss */
  section.three-col-slider-wrap .section-content li .wrap .long-desc h4 {
    font-size: 16px;
  }
}
/* line 830, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap .long-desc a.more-info {
  color: #0091ea;
  font-style: italic;
}
/* line 837, ../sass/screesn.scss */
section.three-col-slider-wrap .section-content li .wrap a.button {
  margin-top: 20px;
  background: #0091ea;
  font-family: "NexaBold", sans-serif;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 853, ../sass/screesn.scss */
footer.page-footer {
  background: transparent url("../images/footer-bg.png") no-repeat;
  background-position: center bottom;
  padding-top: 50px;
}
/* line 857, ../sass/screesn.scss */
footer.page-footer p {
  font-size: 12px;
  color: #575757;
}
/* line 861, ../sass/screesn.scss */
footer.page-footer .columns {
  margin-bottom: 20px;
}
/* line 866, ../sass/screesn.scss */
footer.page-footer .info img {
  width: 100px;
  margin-bottom: 25px;
}
/* line 870, ../sass/screesn.scss */
footer.page-footer .info p {
  margin-bottom: 0;
}
/* line 873, ../sass/screesn.scss */
footer.page-footer .info p span {
  color: #0091ea;
}
/* line 877, ../sass/screesn.scss */
footer.page-footer .info p a {
  color: #575757;
}
/* line 882, ../sass/screesn.scss */
footer.page-footer ul {
  margin: 0;
}
/* line 884, ../sass/screesn.scss */
footer.page-footer ul li {
  display: inline-block;
  font-size: 12px;
}
/* line 889, ../sass/screesn.scss */
footer.page-footer h5 {
  font-size: 16px;
  font-family: "NexaBold", sans-serif;
  color: #0091ea;
}
/* line 895, ../sass/screesn.scss */
footer.page-footer ul.customer-support li {
  display: block;
}
/* line 898, ../sass/screesn.scss */
footer.page-footer ul.customer-support li a {
  color: #575757;
}
/* line 901, ../sass/screesn.scss */
footer.page-footer ul.customer-support li a:hover {
  color: #FF2626;
}
/* line 910, ../sass/screesn.scss */
footer.page-footer ul.social li a i {
  font-size: 20px;
  color: #9d9d9d;
  margin-right: 5px;
}
/* line 917, ../sass/screesn.scss */
footer.page-footer ul.social li a:hover i {
  color: #FF2626;
}
/* line 929, ../sass/screesn.scss */
footer.page-footer .wrap.subscribe .subscribe-form input {
  float: left;
  width: 85%;
  height: 35px;
}
/* line 934, ../sass/screesn.scss */
footer.page-footer .wrap.subscribe .subscribe-form button {
  width: 15% !important;
  height: 35px;
  padding: 0.2em 1em;
  background: #FF2626;
}
/* line 939, ../sass/screesn.scss */
footer.page-footer .wrap.subscribe .subscribe-form button i {
  font-size: 28px;
  font-weight: bold;
}
/* line 948, ../sass/screesn.scss */
footer.page-footer .bottom-footer {
  padding: 0 0.9375em;
}
/* line 950, ../sass/screesn.scss */
footer.page-footer .bottom-footer p {
  margin: 0;
  margin-top: 5px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  /* line 955, ../sass/screesn.scss */
  footer.page-footer .bottom-footer ul {
    display: none;
  }
}
/* line 960, ../sass/screesn.scss */
footer.page-footer .bottom-footer ul li {
  border-right: 1px solid #6b6b6b;
}
/* line 962, ../sass/screesn.scss */
footer.page-footer .bottom-footer ul li a {
  color: #575757;
  padding: 0 5px;
}
/* line 966, ../sass/screesn.scss */
footer.page-footer .bottom-footer ul li a:hover {
  color: #FF2626;
}
/* line 971, ../sass/screesn.scss */
footer.page-footer .bottom-footer ul li:last-child {
  border-right: none;
}

/* line 982, ../sass/screesn.scss */
.archive .archive-banner {
  height: 50vh;
  position: relative;
  background: transparent url("../images/banner.png") no-repeat;
}
/* line 987, ../sass/screesn.scss */
.archive .archive-banner .content {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 60%;
  text-align: center;
  padding: 20px;
}
/* line 999, ../sass/screesn.scss */
.archive .archive-banner .content h3 {
  color: #0091ea;
  font-family: "NexaBold", sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: left;
}
@media screen and (max-width: 640px) {
  /* line 999, ../sass/screesn.scss */
  .archive .archive-banner .content h3 {
    font-size: 20px;
  }
}
/* line 1011, ../sass/screesn.scss */
.archive .archive-banner .content .tabs-content {
  background: transparent;
  border: none;
}
/* line 1015, ../sass/screesn.scss */
.archive .archive-banner .content .tabs-content .button {
  background-color: #0091ea;
}
/* line 1019, ../sass/screesn.scss */
.archive .archive-banner .content .tabs-content ::-webkit-input-placeholder {
  color: #777;
}
/* line 1022, ../sass/screesn.scss */
.archive .archive-banner .content .tabs-content ::-moz-placeholder {
  color: #777;
}
/* line 1025, ../sass/screesn.scss */
.archive .archive-banner .content .tabs-content :-ms-input-placeholder {
  color: #777;
}
/* line 1028, ../sass/screesn.scss */
.archive .archive-banner .content .tabs-content :-moz-placeholder {
  color: #777;
}

/* line 1036, ../sass/screesn.scss */
.archive-wrap {
  margin-top: 3px;
}
/* line 1038, ../sass/screesn.scss */
.archive-wrap .section-wrap {
  margin: 0;
}
/* line 1042, ../sass/screesn.scss */
.archive-wrap .slider-nav {
  display: none;
}

/* line 1046, ../sass/screesn.scss */
ul.archive-list {
  margin-left: 0;
}
/* line 1048, ../sass/screesn.scss */
ul.archive-list li {
  width: 26vw;
  float: left;
  margin-bottom: 2em;
}
@media screen and (max-width: 1024px) {
  /* line 1048, ../sass/screesn.scss */
  ul.archive-list li {
    width: 41vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 1048, ../sass/screesn.scss */
  ul.archive-list li {
    width: 86vw;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  /* line 1065, ../sass/screesn.scss */
  .search-box .wrap {
    top: -85px !important;
  }
}
/* line 1073, ../sass/screesn.scss */
.business-profile {
  margin: 50px auto;
}
/* line 1078, ../sass/screesn.scss */
.business-profile .tabs .tabs-title {
  border-bottom: 1px solid #dedede;
}
/* line 1080, ../sass/screesn.scss */
.business-profile .tabs .tabs-title a {
  font-size: 14px;
  color: #0091ea;
}
/* line 1084, ../sass/screesn.scss */
.business-profile .tabs .tabs-title span.badge {
  padding: 0.2rem 0.3rem;
  min-width: auto;
}
/* line 1091, ../sass/screesn.scss */
.business-profile .tabs-panel {
  padding: 0;
}
/* line 1094, ../sass/screesn.scss */
.business-profile .tabs-panel h4 {
  margin-top: 1.25rem;
}
/* line 1098, ../sass/screesn.scss */
.business-profile .tabs-panel p, .business-profile .tabs-panel h4 {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
/* line 1103, ../sass/screesn.scss */
.business-profile .tabs-panel .slider-wrap {
  height: 590px;
}
/* line 1108, ../sass/screesn.scss */
.business-profile .input-wizard {
  position: relative;
}
/* line 1111, ../sass/screesn.scss */
.business-profile .input-wizard .slide {
  width: 100%;
  position: absolute;
}
/* line 1115, ../sass/screesn.scss */
.business-profile .input-wizard .slide .ajax-form {
  padding: 0 30px;
}
/* line 1119, ../sass/screesn.scss */
.business-profile .input-wizard .slide h4 {
  color: #0091ea;
}
/* line 1122, ../sass/screesn.scss */
.business-profile .input-wizard .slide h4 .ti-angle-left {
  cursor: pointer;
}
/* line 1125, ../sass/screesn.scss */
.business-profile .input-wizard .slide h4 .ti-angle-left:hover {
  color: #28b9ff;
}
/* line 1129, ../sass/screesn.scss */
.business-profile .input-wizard .slide h4 .back-cat {
  margin-right: 20px;
}
/* line 1134, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap {
  width: 96%;
  margin: 0 auto;
}
/* line 1138, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap .form-group {
  width: 50%;
  float: left;
}
/* line 1142, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap .form-group input {
  width: 90%;
  border: 1px solid #28b9ff;
}
/* line 1147, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap .form-group input[type="submit"] {
  width: auto !important;
}
/* line 1150, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap .form-group input.button, .business-profile .input-wizard .slide .form-wrap .form-group label.button {
  float: left;
  margin-right: 10%;
  background: #0091ea;
  margin-top: 30px;
  color: #fff !important;
  width: 100% !important;
}
/* line 1158, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap .form-group textarea {
  height: 140px;
  width: 90%;
  border: 1px solid #28b9ff;
}
/* line 1164, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap .form-group.btn {
  width: 20%;
  margin-right: 5%;
}
/* line 1168, ../sass/screesn.scss */
.business-profile .input-wizard .slide .form-wrap label {
  color: #0091ea;
}
/* line 1173, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first {
  display: block;
}
/* line 1176, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first .categories {
  margin: 4em 0;
}
/* line 1180, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first .categories .cat {
  display: block;
  float: left;
  width: 20%;
}
/* line 1184, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first .categories .cat a {
  text-align: center;
  width: 100%;
}
/* line 1188, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first .categories .cat a p {
  text-align: center;
  font-size: 20px;
  color: #575757;
  font-weight: bold;
  -webkit-transition: font-size 0.1s linear;
  -ms-transition: font-size 0.1s linear;
  -moz-transition: font-size 0.1s linear;
  -o-transition: font-size 0.1s linear;
  transition: font-size 0.1s linear;
}
/* line 1195, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first .categories .cat a p i {
  font-size: 32px;
  -webkit-transition: font-size 0.1s linear;
  -ms-transition: font-size 0.1s linear;
  -moz-transition: font-size 0.1s linear;
  -o-transition: font-size 0.1s linear;
  transition: font-size 0.1s linear;
}
/* line 1202, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first .categories .cat a:hover p {
  color: #0091ea;
  font-size: 22px;
}
/* line 1206, ../sass/screesn.scss */
.business-profile .input-wizard .slide.first .categories .cat a:hover p i {
  font-size: 36px;
}
/* line 1217, ../sass/screesn.scss */
.business-profile .input-wizard .slide.form-load li {
  width: 100%;
  text-align: center;
  padding: 0;
}
/* line 1222, ../sass/screesn.scss */
.business-profile .input-wizard .slide.form-load li:nth-child(2) {
  margin-bottom: 20px;
  color: #0091ea;
  text-transform: capitalize;
}
/* line 1227, ../sass/screesn.scss */
.business-profile .input-wizard .slide.form-load li.img-wrap {
  position: relative;
}
/* line 1230, ../sass/screesn.scss */
.business-profile .input-wizard .slide.form-load li.img-wrap .img-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* line 1239, ../sass/screesn.scss */
.business-profile .input-wizard .slide.form-load li.img-wrap .img-overlay i {
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 1248, ../sass/screesn.scss */
.business-profile .input-wizard .slide.form-load li.img-wrap .img-overlay:hover {
  opacity: 1;
}
/* line 1259, ../sass/screesn.scss */
.business-profile ul.collection-wrap li {
  width: 25%;
  float: left;
  padding: 15px;
  position: relative;
}
/* line 1265, ../sass/screesn.scss */
.business-profile ul.collection-wrap li .wrap {
  border: 1px solid #ddd;
  height: 190px;
}
/* line 1269, ../sass/screesn.scss */
.business-profile ul.collection-wrap li .wrap .row {
  margin: 0;
}
/* line 1273, ../sass/screesn.scss */
.business-profile ul.collection-wrap li .wrap p.address {
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 50px;
  /* fallback */
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* line 1282, ../sass/screesn.scss */
.business-profile ul.collection-wrap li .wrap a.button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #0091ea;
}

/* line 1300, ../sass/screesn.scss */
.about .page-title {
  padding: 30px 0;
}
/* line 1302, ../sass/screesn.scss */
.about .page-title h4 {
  font-family: "NexaBold", sans-serif;
  color: #0091ea;
  text-transform: capitalize;
}
/* line 1309, ../sass/screesn.scss */
.about .page-content p {
  font-family: "Open Sans", sans-serif;
}

/* line 1320, ../sass/screesn.scss */
.faq .accordion li a {
  font-size: 18px;
  color: #0091ea;
}
/* line 1324, ../sass/screesn.scss */
.faq .accordion li a i {
  margin-right: 10px;
}
/* line 1328, ../sass/screesn.scss */
.faq .accordion li .accordion-content {
  padding: 1rem 2rem;
}

/* line 1339, ../sass/screesn.scss */
.inside {
  margin-top: 25px;
}
/* line 1341, ../sass/screesn.scss */
.inside .section-title {
  margin-top: 50px;
}
/* line 1343, ../sass/screesn.scss */
.inside .section-title h3 {
  font-family: "NexaBold", sans-serif;
  color: #0091ea;
  font-size: 24px;
}
/* line 1349, ../sass/screesn.scss */
.inside .content-wrap {
  padding: 25px;
  background: #e8f4ff;
}
/* line 1354, ../sass/screesn.scss */
.inside .content-wrap .img-wrap img {
  width: 100%;
}
/* line 1359, ../sass/screesn.scss */
.inside .content-wrap p {
  color: #575757;
}
/* line 1361, ../sass/screesn.scss */
.inside .content-wrap p span {
  font-weight: bold;
  color: #FF2626;
}
/* line 1366, ../sass/screesn.scss */
.inside .content-wrap .row {
  margin: 0;
}
/* line 1369, ../sass/screesn.scss */
.inside .content-wrap a {
  color: #0091ea;
}
/* line 1371, ../sass/screesn.scss */
.inside .content-wrap a:hover {
  color: #FF2626;
}
/* line 1375, ../sass/screesn.scss */
.inside .content-wrap a.button {
  margin-top: 10px;
  background: #0091ea;
  color: #fff;
  float: right;
}
/* line 1381, ../sass/screesn.scss */
.inside .content-wrap p.social {
  float: left;
  margin-top: 15px;
}
/* line 1385, ../sass/screesn.scss */
.inside .content-wrap p.social a {
  padding: 5px;
}
/* line 1390, ../sass/screesn.scss */
.inside .popup-gallery {
  margin-top: 25px;
}
/* line 1393, ../sass/screesn.scss */
.inside .popup-gallery a {
  width: 13%;
}
/* line 1396, ../sass/screesn.scss */
.inside .popup-gallery a img {
  width: inherit;
}

/* line 1422, ../sass/screesn.scss */
body.email {
  background: #f3f3f3 !important;
}
/* line 1425, ../sass/screesn.scss */
body.email .row {
  max-width: 100%;
}
/* line 1429, ../sass/screesn.scss */
body.email .custom-head {
  border-bottom: 1px solid #ccc;
  padding: 25px 0;
  margin-bottom: 20px;
}
/* line 1434, ../sass/screesn.scss */
body.email .custom-head img {
  width: 160px;
}
/* line 1441, ../sass/screesn.scss */
body.email .custom h1, body.email .custom h4 {
  color: #0F4174;
  font-size: 22px;
  font-family: "NexaBold", sans-serif;
}
/* line 1446, ../sass/screesn.scss */
body.email .custom p {
  font-family: "Open Sans", sans-serif;
}
/* line 1449, ../sass/screesn.scss */
body.email .custom p b {
  color: #0091ea;
}
/* line 1453, ../sass/screesn.scss */
body.email .custom p.code {
  color: #0091ea;
  font-size: 32px;
}
/* line 1459, ../sass/screesn.scss */
body.email .custom ul.social li {
  display: inline-block;
  margin-right: 10px;
}
/* line 1462, ../sass/screesn.scss */
body.email .custom ul.social li a {
  color: #0091ea;
}
/* line 1465, ../sass/screesn.scss */
body.email .custom ul.social li a:hover {
  color: #575757;
}

/* line 1476, ../sass/screesn.scss */
#map-canvas-0 {
  height: 10rem !important;
}
